:root {
    --background-normal: #000;
    --text-color-normal: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    background: var(--background-normal);
    color: var(--text-color-normal);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
}

.container__game {
    flex: 70% ;
}

.container__system {
    display: flex;
    flex: 30%;
    flex-direction: row;

    & .container__system__messages {
        flex: 60%;
        height: 100%;
    }
}