@import '../../../theme/colors.css';

.room {
    display: flex;
    flex-direction: column;
    flex: 4;
    height: 100%;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;

    &.row__middle {
        flex: 3;
    }
}

.row__column {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;

    &.row__column__middle {
        flex: 3;
    }
}

.row__middle__lateral {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.tile__room {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 3px outset var(--room-border-color);
    border-radius: 5px;
    width: 100%;
    height: 100%;

    & .room__header {
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-self: flex-start;
        box-sizing: border-box;
        border-bottom: 3px double var(--room-header-border-color);
        width: 100%;
        height: 25px;

        & .room__header__id {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0 10px;
            border-right: 1px solid var(--room-header-border-color);
        }

        & .room__header__title {
            display: flex;
            flex: 4;
            align-items: center;
            justify-content: center;
            font-size: 1.2em;
            color: var(--room-header-text-color);
        }
    }

    & .room__description {
        display: flex;
        flex: 9;
        align-items: center;
        justify-content: center;

        & .room__description__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            text-align: justify;
            border: 3px double #333;
            border-radius: 3px;
            width: 90%;
            padding: 20px;
        }
    }
}