# Logs
client/logs
client/*.log
client/yarn-error.log
client/npm-debug.log*

# Dependencies
client/node_modules/

# Transpiled files
client/dist/
client/build/

# VS Code
.vscode
!.vscode/tasks.js
client/.vscode
client/!.vscode/tasks.js

# NetBeans IDE
/client/nbproject/
/server/server-presentation/nbproject/

# JetBrains IDEs
.idea/
client/.idea/

# Optional npm cache directory
client/.npm

# Misc
.DS_Store
/client/nbproject/private/
/server/server-application/target/
/server/server-common/target/
/server/server-engine/target/
/server/server-persistence/target/
/server/server-presentation/target/
/server/server-artifact/target/
/server/server-client/target/
npm-debug.log
/server/server-persistence/nbproject/
/server/server-engine/nbproject/
/server/server-application/data/
