@import '../../../../theme/colors.css';

.container__system__chat__messages__item_system {
    background: none !important;
    color: var(--chat-message-text-color--system) !important;
    font-size: 16px !important;
    padding: 5px 10px !important;

    & i {
        font-size: 20px !important;
    }
}

.container__system__chat__messages__item_me {
    color: var(--chat-message-text-color--me) !important;
}

.container__system__chat__messages__item_received {
    color: var(--chat-message-text-color--received) !important;
}