@import '../../../theme/colors.css';

.container__system__display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    border-top: 1px solid var(--system-background-color);
    overflow: hidden;

    & :hover {
        background: var(--system-background-color--hover);
    }

    & .container__system__display__info {
        flex: 1;
        width: 70%;
    }

    & .container__system__connectionStatus {
        bottom: 0;
        position: absolute;
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
}