@import '../../../../theme/colors.css';

.avatar__profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 0 0 2px;
    margin: 0 0 15px 0;

    & div {
        width: 100%;
    }

    & .profile__row {
        display: flex;
        flex-direction: row;
        margin: 0 0 5px 0;
        padding-right: 4px;

        &.profile__row_title {
        }

        &.profile__row_level {
            margin: 0 0 10px 0 ;
        }
    }
}