.avatar__profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 0 0 2px;
    margin: 0 0 15px 0;

    & div {
        width: 100%;
    }

    & .profile__row {
        display: flex;
        flex-direction: row;
        margin: 0 0 5px 0;

        &.small {
            width: 75%;
        }

        &.profile__row_title {
        }

        &.profile__row_level {
            margin: 0 0 10px 0 ;
        }

        & .status__row__label {
            display: flex;
            flex: 15%;
            align-items: center;
            justify-content: center;
        }

        & .status__row__progress {
            margin: 0 5px 0 5px;
            flex: 85%;

            & div:not(:first-child) {
                top: 0;
                color: #fff;
                font-family: Arial;
                text-align: right;
                margin: .25em 0 0 0;
                padding: 0 .25em 0 0;
                text-shadow: -1px -1px 0 #000,  
                    1px -1px 0 #000,
                    -1px 1px 0 #000,
                    1px 1px 0 #000;
            }
        }
    }
}