@import '../../../../theme/colors.css';

.tile__move {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid var(--room-direction-border-color);
    border-radius: 3px;
    width: 60%;
    height: 60px;
    cursor: pointer;

    & .tile__move__title {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;        
        width: 100%;
        border-bottom: 3px double var(--room-direction-border-color);

        & > div {
            color: var(--room-direction-text-color) !important;
        }        
    }

    & .tile__move__description {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;        
        width: 100%;
        font-size: .8em;
        text-align: center;
        line-height: 1em;
        color: var(--room-direction-text-color);
    }
}