@import '../../../theme/colors.css';

.container__system__chat {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    border-top: 1px solid var(--chat-container-border-color);
    border-right: 1px solid var(--chat-container-border-color);
    overflow: hidden;

    & :hover {
        background: var(--chat-container-background-color--hover);
    }
}

.container__system__chat__messages {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    padding: 2px 2px 4px 5px;

    &::-webkit-scrollbar {
        width: 1em;
    }
    
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}

.container__system__chat__input {
    flex: 0;
    width: 100%;

    & .container__system__chat__input__field {
        width: 100%;

        & input {
            border-radius: 0;
            border-color: var(--chat-input-border-color);

            &:active,
            &:hover,
            &:focus {
                border-color: white;
            }
        }
    }
}