.container__system__chat {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #fff;
    overflow: hidden;

    & :hover {
        background: #0A0A0A;
    }
}

.container__system__chat__messages {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    padding: 2px 2px 4px 5px;

    & .container__system__chat__messages__item_system {
        background: none;
        color: yellow;
        font-size: 16px;
        padding: 5px 10px;

        & i {
            font-size: 20px;
        }
    }

    & .container__system__chat__messages__item_me {
        color: lightgreen;
    }

    &::-webkit-scrollbar {
        width: 1em;
    }
    
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}

.container__system__chat__input {
    flex: 0;
    width: 100%;

    & .container__system__chat__input__field {
        width: 100%;

        & input {
            border-radius: 0;
            border-color: white;

            &:active,
            &:hover,
            &:focus {
                border-color: white;
            }
        }
    }
}